* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;

}

:root {
    --basecolor: #fefefe;
    --secobasecolor: #f0f0f0;
    --thirdcolor: #ffff;
    --auxicolor: #373738;
    --bigcolor2: #f2b705;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--basecolor);
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

form{
    margin-bottom: 10px;
}

#taskwriter{
    border: #000 solid 1px;
    width: 400px;
    height: 30px;
}

#adbtn{
    width: 60px;
    height: 30px;
    background-color: var(--bigcolor2);
}

#tasklist{
    display: flex;
    flex-direction: column;
}

#tasklist li{
    width: 435px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    list-style-type: none;
}

#tasklist li:nth-child(odd) {
    background-color: var(--secobasecolor);
  }
  
  #tasklist li:nth-child(even) {
    background-color: var(--thirdcolor);
  }