* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

:root {
    --basecolor: #c9c9c9;
    --secobasecolor: #f6f6f6;
    --thirdcolor: #b2b2b2;
    --auxicolor: #ffffff;
    --bigcolor2: #70a4df;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--basecolor);
    font-family: 'Space Grotesk';
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--secobasecolor);
    border-radius: 20px;
}

form{
    margin-bottom: 10px;
}

#taskwriter{
    border-radius: 10px;
    padding-left: 10px;
    width: 400px;
    height: 30px;
}

#adbtn{
    width: 60px;
    height: 30px;
    background-color: var(--bigcolor2);
    border-radius: 50px;
}

/*cores diferentes*/
#adbtn:hover{
    background-color: #4b7db2;
    color:#fff;
}

#tasklist{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: var(--thirdcolor) solid 1px;
    
}

#tasklist li{
    width: 435px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    list-style-type: none;
    border-radius: 20px;
}

#tasklist li:nth-child(odd) {
    background-color: var(--secobasecolor);
  }
  
  #tasklist li:nth-child(even) {
    background-color: var(--basecolor);
  }